html {
    font-size: 50px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    border: 5px, solid, black;
    background-color: black;
}

button {
    font-size: 50px;
    background-color: gray;
}

.calculator-row {
    display: flex;
    height: 100px;
    justify-content: space-evenly;
}

.display-row {
    display: flex;
    height: 100px;
    justify-content: right;
    align-items: center;
    background-color: lightgray;
}

.numkey, .operator-key {
    width: 100px;
    height: 100px;
}

.operator-key {
    background-color: blue;
}

#zero {
    width: 202px;
}

#clear {
    height: 60px;
    width: 100%;
    background-color: orangered;
}